@font-face {
    font-family: "Southern Aire";
    src: url("/assets/fonts/SouthernAire_Personal_Use_Only.ttf") format("truetype");
}

@font-face {
    font-family: 'Altone';
    src: url("/assets/fonts/AltoneTrial-Regular.ttf") format("truetype");
}
// @font-face {
//     font-family: 'Altone';
//     src: url("/assets/fonts/AltoneTrial-RegularOblique.ttf") format("truetype");
//     font-style: italic;
// }
// @font-face {
//     font-family: 'Altone';
//     src: url("/assets/fonts/AltoneTrial-Bold.ttf") format("truetype");
//     font-style: bold;
// }
// @font-face {
//     font-family: 'Altone';
//     src: url("/assets/fonts/AltoneTrial-BoldOblique.ttf") format("truetype");
//     font-style: bold italic;
// }
